# requirements.txt

# Pour les calculs scientifiques (matrices, algèbre)
numpy

# Pour tracer les graphiques
matplotlib

# Pour la programmation linéaire
PuLP 

# Pour la régression linéaire (et gestion CSV)
scikit-learn
pandas

# Pour l'interface graphique moderne
PySide6